<div class="ui segments" ng-controller='VMCreateFormCtrl'>
    <div class="ui segment">
        <h3 class="ui header">Create VM</h3>
    </div>
    <div class="ui segment">
        <form class="ui form" name="VMCreateForm">
            <div class="field required">
                <label for="vm-name">VM Name</label>
                <input type="text" name="vm-name" id="vm-name" placeholder="VM Name" ng-model="data.name" required>
            </div>
            <div class="two fields">
                <div class="field required">
                    <label for="vm-core">Core</label>
                    <select class="ui fluid dropdown" name="vm-core" ng-model="data.core" required>
                        <option value="">Core</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
                <div class="field required">
                    <label for="vm-memory">Memory</label>
                    <select class="ui fluid dropdown" name="vm-memory" ng-model="data.memory" required>
                        <option value="">Memory</option>
                        <option value="2">2 GB</option>
                        <option value="3">3 GB</option>
                        <option value="4">4 GB</option>
                    </select>
                </div>
            </div>
            <div class="field required">
                <label for="vm-template">Template</label>
                <select class="ui fluid dropdown" name="vm-template" ng-model="data.template" required>
                    <option value="">Template</option>
                    <option value="{{image.fullPath}}" ng-repeat="(key, image) in image.data.images">{{image.basename}}</option>
                </select>
            </div>
            <button class="positive ui button" ng-click="create()" ng-class="{disabled: !VMCreateForm.$valid}">Create</button>
            <button class="negative ui button" ng-click="cancel()">Cancel</button>
        </form>
    </div>
</div>
