<div class="ui container">
    <h1 class="ui header">VM List</h1>
    <div class="ui divider section"></div>
    <div class="ui cards">
        <div class="card">
            <div class="content">
                <div class="header">Project Timeline</div>
            </div>
            <div class="content">
                <div class="meta">
                    Friends of Veronika
                </div>
                <div class="description">
                    Elliot requested permission to view your contact details
                </div>
            </div>
            <div class="extra content">
                <div class="ui two buttons">
                    <div class="ui basic green button">Approve</div>
                    <div class="ui basic red button">Decline</div>
                </div>
            </div>
        </div>
    </div>
</div>
